* {
	font-family: "Pangolin", sans-serif;
	box-sizing: border-box;
}

body {
	background: url(assets/en-gergo-kristiania.jpg) no-repeat center center fixed;
	background-size: cover;
}

.container {
	background-color: hsla(0, 0%, 100%, .5);
	text-align: center;
	margin-top: -70px;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3)
}

.quote {
	font-size: 30px;
}

.author {
	font-size: 20px;
	margin-top: -15px;
	color: hsla(0,0%,0%,.8)
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}